pyrogram==2.0.35
tgcrypto==1.2.3
pickle5==0.0.11
telegraph==2.1.0
pykeyboard==0.1.5
halo==0.0.31
Wand==0.6.8
requests
SpeechRecognition
python-telegram-bot==12.3.0
coloredlogs
pillow
watchdog
pydub
opencv-python
gTTS
Pillow
bs4
ttconv
pyinstaller
asteval
arrow
websocket-client
ffmpeg
python-ffmpeg
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
pymongo[srv]==3.12.3

